<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Règle 1 importée-1">
                    <match url="^attachment/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^/attachment/.*" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/static/{R:1}" />
                </rule>
                <rule name="Règle 1 importée">
                    <match url="^static/(.*)/(.*)$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="^([^:]*):([^:]*):([^:]*)(:([0-9a-z]*))?(.*)$" />
                        <add input="{QUERY_STRING}" pattern="^([a-zA-Z0-9_-]*)%3A([a-zA-Z0-9_-]*)%3A([a-zA-Z0-9_-]*)(%3A([0-9a-z]*))?(.*)$" />
                    </conditions>
                    <action type="Rewrite" url="files/{C:2}/_{C:5}.centurion" />
                </rule>
                <rule name="Rewrite for static image (with effect)" stopProcessing="true">
                    <match url="^/public/files/.*$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="^([^:]*):([^:]*):([^:]*):([0-9a-z]*)(.*)$" />
                        <add input="{QUERY_STRING}" pattern="^([a-zA-Z0-9_-]*)%3A([a-zA-Z0-9_-]*)%3A([a-zA-Z0-9_-]*)%3A([0-9a-z]*)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="/media/image/get/id/{C:1}/fileid/{C:2}/key/{C:3}/effect/{C:4}/extra/{C:5}?" appendQueryString="false" redirectType="Found" />
                </rule>
                <rule name="Rewrite for Static files" stopProcessing="true">
                    <match url="^public/files/.*$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="^([^:]*):([^:]*):([^:]*)(.*)$" />
                        <add input="{QUERY_STRING}" pattern="^([a-zA-Z0-9_-]*)%3A([a-zA-Z0-9_-]*)%3A([0-9a-z]*)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="/media/file/get/id/{C:1}/fileid/{C:2}/key/{C:3}/extra/{C:4}?" appendQueryString="false" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".centurion" mimeType="image/jpg" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
</configuration>